extends layout

block content
  h1= title
  
  - let results = [ { name: 'strawberry', color: 'Red', cost: 1 }, { name: 'pineapple', color: 'Yellow', cost: 2 }, { name: 'Orange', color: 'Orange', cost: 3 } ];

  html
    head
      title Fruits
    body
      h1 Fruits
        div.container-fluid
        div.row
          each item in results
            div(class="col-sm-2" onclick =`buy(${index})`) <br> #{item.name}, <br> #{item.color}, <br> #{item.cost} <br>
            script.
              function buy(a)
              {
                  alert(`You purchased Item ${a+1}`)
              }
