extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let fruitsid = toShow._id
    - let fruits_type = toShow.name
    - let fruitscost = toShow.color
    - let fruitssize = toShow.cost
    - let actionid = "/resource/fruits/" + fruitsid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='fruitsAttr mr-3') fruits ID is:
        div #{fruitsid}
      div.row
        div(class='fruitsAttr mr-3') fruits Type is:
        div #{fruits_type}
      div.row
        div(class='fruitsAttr mr-3') fruits Size is:
        div #{fruitssize}
      div.row
        div(class='fruitsAttr mr-3') fruits Cost is:
        div #{fruitscost}
      
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the fruits collection
        window.location.href='/fruits'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/fruits'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
